{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} | Shopping Bag{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-5">
    <!-- If there is an item/are items in the shopping bag -->
    {% if bag_items %}
    <div class="row px-3">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-7">
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h2 class="logo-font mb-3 text-center text-md-left page-title">Shopping Bag</h2>
                        <hr>
                    </div>
                </div>
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-12 col-sm-6 mb-2 mb-sm-4">
                        <!-- Product image -->
                        {% if "placeholder" in item.product.image.url %}
                        <a href="{% url 'product_detail' item.product.id %}">
                            <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1686206490/placeholder.png"
                                class="card-img-top img-fluid list-image product-img" alt="Placeholder image">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' item.product.id %}">
                            <img src=" {{ item.product.image.url }}"
                                class="card-img-top img-fluid list-image product-img"
                                alt="Image of {{ item.product.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="row">
                            <div class="col-12">
                                <!-- Product information -->
                                <div class="mb-1 mb-sm-2 mb-md-0 mb-lg-2">
                                    <div class="my-1 mb-md-0">
                                        <a class="text-decoration-none bag-item-link"
                                            href="{% url 'product_detail' item.product.id %}">
                                            <p class="product-name-bag mb-0 mb-sm-2 mb-md-0 mb-lg-2">
                                                {{ item.product.name }}</p>
                                        </a>
                                    </div>
                                    <div class="my-0 small">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?brand={{ item.product.brand }}">
                                            <span class="icon"><i
                                                    class="fa-brands fa-gratipay"></i></span>{{ item.product.brand.display_name }}</a>
                                    </div>
                                    <div class="my-0 small">
                                        <a class="text-muted" href="{% url 'products' %}?type={{ item.product.type }}">
                                            <span class="icon"> <i
                                                    class="fa-solid fa-hand-dots mr-1"></i></span>{{ item.product.type.display_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="my-0 pl-1 pl-sm-0 bag-price">Unit Price</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="my-0 pr-1 pr-sm-0 bag-price">€{{ item.product.price }}</p>
                            </div>
                        </div>
                        <div class="row mb-1 mb-sm-2 mb-md-1 mb-lg-3">
                            <div class="col-6">
                                <p class="my-0 py-0 pl-1 pl-sm-0 bag-price">Subtotal</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="my-0 py-0 pr-1 pr-sm-0 bag-price">
                                    €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <form class="form update-form" method="POST"
                                    action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group input-group-{{ item.item_id }} mb-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button
                                                    class="decrement-qty btn btn-sm btn-main decrement-qty_{{ item.item_id }}"
                                                    data-item_id="{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input
                                                class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} text-center"
                                                type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                                max="20" data-item_id="{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button
                                                    class="increment-qty btn btn-sm btn-main increment-qty_{{ item.item_id }}"
                                                    data-item_id="{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <div class="d-flex justify-content-between text-center my-auto px-1">
                                    <a class="update-link text-info"><i class="fa-solid fa-rotate"></i></a>
                                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><i
                                            class="fa-solid fa-trash-can"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-5 col-lg-5 order-summary-container">
                <div class="order-summary pb-3 pl-3 pr-3">
                    <hr class="invisible">
                    <h2 class="logo-font mb-3 text-center d-md-none d-lg-block text-lg-left page-title">Order Summary
                    </h2>
                    <h2 class="logo-font mb-3 text-center d-none d-md-block text-md-left d-lg-none page-title">Bag
                        Summary</h2>
                    <hr>
                    <div class="row bag-total">
                        <div class="col-6">
                            <p class="mb-2">Subtotal:</p>
                            <p class="mb-2">Shipping:</p>
                            <p class="mb-2"><strong>Total:</strong></p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-2">€{{ total|floatformat:2 }}</p>
                            <p class="mb-2">{% if delivery == 0 %}Free{% else %}€{{ delivery|floatformat:2 }}{% endif %}
                            </p>
                            <p class="mb-2"><strong>€{{ grand_total|floatformat:2 }}</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-info delivery-balance">
                                Spend <strong>€{{ free_delivery_delta }}</strong> more for free shipping!
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 col-md-12 mb-2">
                            <a href="{% url 'products' %}" class="btn btn-outline-turquoise w-100">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Continue Shopping</span>
                            </a>
                        </div>
                        <div class="col-md-6 col-md-12">
                            <a href="{% url 'checkout' %}" class="btn btn-main w-100">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- If the shopping bag is empty -->
    {% else %}
    <div class="row">
        <div class="col-12">
            <hr>
            <h2 class="logo-font mb-3 text-center text-md-left page-title">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center text-md-left">
            <p class="lead mt-3 mb-4 mb-md-5 ">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-main mb-5">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Continue Shopping</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% include 'products/includes/quantity_input_script.html' %}

<script>
    // update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).parent().parent().parent().prev().children().children('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/bag/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}