{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="hero-image">
                <div class="col-7 col-sm-12 hero-text pr-0">
                    <p class="p-0 m-0 font-weight-bold protect">Protect your skin with</P>
                    <h1 class="display-4 logo-font text-main mt-0 font-weight-bold">safe sunblock</h1>
                    <a href="{% url 'products' %}" class="shop-now-button btn text-uppercase">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 introduction">
            <div class="text-justify mt-4">
                <h5 class="mb-3 what-is">What is <strong>safe sunblock</strong>?</h5>
                <p> Protecting your skin from the harmful UV rays from the sun is important to reduce the risk of
                    sunburn, skin damage and long-term health concerns like skin cancer. However, many sun care products
                    contain ingredients that can harm human health and the environment.
                </p>
                <p>
                    The good news? You can protect your skin <strong><em>and</em></strong> the environment while reaping
                    the benefits of responsible sun exposure. <strong>LUVE is a website that is dedicated to safe
                    sunblocks!</strong>
                </p>
                <p> There are two types of sun protection: chemical sunscreen and mineral (physical) sunblock. While
                    the two serve the same purpose — to protect skin from skin cancer, sunburn and premature
                    ageing — they have distinct characteristics.
                </p>
                <p>
                    Chemical sunscreens sink into your skin where they absorb the UV rays and convert them to heat
                    before filtering them back out of the skin. In contrast, mineral sunblocks sit on the surface of
                    your skin and create a barrier between your skin and the harmful UV rays. They work by blocking and
                    scattering the UV rays, preventing them from being absorbed into your skin.
                </p>
                <p>
                    Chemical sunscreens are formulated with UV filters such as oxybenzone, avobenzone,
                    octinoxate, octisalate, octocrylene and homosalate. Studies show that many of these
                    chemicals have negative impacts on human and environmental health.
                </p>
                <h6 class="font-weight-bold">Impact of Chemical Sunscreens on the Environment</h6>
                <p>
                    The main ingredients in chemical sunscreens cause significant harm to marine ecosystems. Studies
                    show oxybenzone contamination in ocean water is a threat to wildlife, coral reefs and seagrass
                    habitats. These chemicals are also known to be present in various species of fish around the
                    world, which researchers worry could affect the food chain.
                </p>
                <h6 class="font-weight-bold">Impact of Chemical Sunscreen on Human Health</h6>
                <p>
                    Recent evidence shows some chemical sunscreen ingredients are absorbed into the bloodstream,
                    sometimes surpassing safe levels. They have reported finding sunscreen ingredients in breast
                    milk, urine and blood plasma samples. These chemicals are all systemically absorbed into the body
                    after one use and they could be detected on the skin and in the blood weeks after they had last been
                    used. Many studies have raised concerns about endocrine-disrupting effects of these chemicals.
                </p>
                <p>
                    Mineral sunblocks are formulated with zinc oxide and/or titanium oxide, both of which are considered
                    safe and effective. In fact, these are the only active ingredients officially deemed safe and
                    effective by the U.S. FDA (Food and Drugs Administration). Mineral sunblocks deliver broad-spectrum
                    protection by reflecting the UV radiation away from your skin.
                </p>
            </div>
            <div class="mt-4">
                <p>Read more in our articles!</p>
                <h4>
                    <a href="{% url 'articles' %}" class="btn btn-main btn-article text-uppercase">Articles</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock%}