{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Checkout</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <h4 class="text-muted text-uppercase">Order Summary ({{ product_count }})</h4>
            <div class="row">
                <div class="col-8">
                    <p class="mb-1 mt-0 font-weight-bold text-muted">Item</p>
                </div>
                <div class="col-4 text-right">
                    <p class="mb-1 mt-0 font-weight-bold text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in bag_items %}
            <div class="row mb-3">
                <div class="col-3 mb-1">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if "placeholder" in item.product.image.url %}
                        <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1686206490/placeholder-image_mrk4gi.png"
                            class="card-img-top img-fluid list-image" alt="Image of {{ item.product.name }}">
                        {% else %}
                        <img src=" {{ item.product.image.url }}" class="card-img-top img-fluid list-image"
                            alt="Image of {{ item.product.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-6">
                    <p class="my-0">{{ item.product.name }}</p>
                    <p class="my-0 text-muted small">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 text-muted">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <hr class="my-0">
            <div class="row text-main">
                <div class="col-8 mt-3">
                    <p class="mb-1">Subtotal:</p>
                    <p class="mb-1">Shipping:</p>
                    <p class="mb-1"><strong>Total:</strong></p>
                </div>
                <div class="col-4 mt-3 text-right">
                    <p class="mb-1">€{{ total | floatformat:2 }}</p>
                    <p class="mb-1">{% if delivery == 0 %}Free{% else %}€{{ delivery|floatformat:2 }}{% endif %}</p>
                    <p class="mb-1"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="mb-2">
                    <legend class="fieldset-label text-uppercase text-muted mx-2">Contact Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="mb-2">
                    <legend class="fieldset-label text-uppercase text-muted mx-2 w-auto">Shipping Address</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mx-0 px-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this information to to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="mt-1">
                    <legend class="fieldset-label text-uppercase text-muted mx-2 w-auto">Payment</legend>
                    <!-- A Stripe card element -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Displays form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button mt-5 mb-2">
                    <div class="row">
                        <div class="col-sm-6 mb-2">
                            <a href="{% url 'view_bag' %}" class="btn btn-outline-main w-100">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Return to Bag</span>
                            </a>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button id="submit-button" class="btn btn-main w-100">
                                <span class="text-uppercase">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col text-right">
                            <p class="small text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="loading-overlay">
    <div class="loading-spinner">
        <!-- Loading spinner from https://tobiasahlin.com/spinkit/ -->
        <div class="loading-spinner sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}