{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thank you for your order!</h2>
            <hr>
            <p class="text-main">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email}}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-7">
            <div class="order-confirmation-wrapper p-3 border rounded">
                <div class="row mb-1">
                    <div class="col-sm-4">
                        <p class="mb-0 text-main font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-sm-8 text-sm-right">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-6">
                        <p class="mb-0 text-main font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.order_date_format }}</p>
                    </div>
                </div>
            </div>
            <div class="order-confirmation-wrapper p-3 border rounded mt-2">
                <div class="row mb-2">
                    <div class="col">
                        <span class="text-main font-weight-bold">Order Summary</span>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">
                            {{ item.product.name }}
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <div class="row mt-3 mb-2">
                    <div class="col">
                        <span class="text-main font-weight-bold">Shipping Address</span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">Full Name</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">Address 1</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">Address 2</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">County</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">Town or City</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">Postal Code</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">Country</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-main">Phone Number</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
            </div>
            <div class="order-confirmation-wrapper p-3 border rounded mt-2">
                <div class="row mb-2">
                    <div class="col">
                        <span class="text-main font-weight-bold">Billing Information</span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <p class="mb-0 text-main">Subtotal</p>
                    </div>
                    <div class="col-6 text-right">
                        <p class="mb-0">€{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <p class="mb-0 text-main">Shipping</p>
                    </div>
                    <div class="col-6 text-right">
                        <p class="mb-0">{% if order.delivery_cost == 0 %}Free{% else %}€{{ order.delivery_cost }}{% endif %}</p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <p class="mb-0 text-main font-weight-bold">Total</p>
                    </div>
                    <div class="col-6 text-right font-weight-bold">
                        <p class="mb-0">€{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-7 text-right">
            {% if from_profile %}
                <a href="" class="btn btn-main my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            {% else %}
                <a href="{% url 'products' %}" class="btn btn-main my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span class="text-uppercase">Why not shop more!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}