/* Root variable for colours */
:root {
    --grey: #474D53;
    --placeholder-grey: #AAB7C4;
}

.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: var(--grey);
}

#profile-update-form input::placeholder {
    color: var(--placeholder-grey);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: var(--grey);
}

#id_default_country option:first-child {
    color: var(--placeholder-grey);
}