/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Signika&display=swap');

/* Root variable for colours */
:root {
    --grey: #474D53;
    --light-grey: #72777C;
    --white: #FFFFFF;
    --light-green: #E6F8F5;
    --placeholder-grey: #AAB7C4;
}

html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/dio3rjgik/image/upload/v1685989507/homepage-background_vhfus9.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--grey);
    font-family: 'Signika', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--grey);
    color: var(--white);
    min-width: 260px;
}

#keep-shopping {
    height: 0.5rem;
    width: 0.5rem;
}

.btn-main {
    background: var(--grey);
    color: var(--white);
    border: 1px solid var(--grey);
}

.btn-outline-main {
    background: var(--white);
    color: var(--grey) !important;
    border: 1px solid var(--grey);
}

.btn-outline-main:hover,
.btn-outline-main:active,
.btn-outline-main:focus {
    background: var(--light-grey);
    color: var(--white) !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-main:hover {
    background: var(--light-grey);
    color: var(--white);
    border: 1px solid var(--light-grey);
}

.text-main {
    color: var(--grey) !important;
}

.bg-main {
    background: var(--grey) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--white);
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: #0f917f;
    color: var(--white) !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none !important;
}

input[name='q']::placeholder {
    color: var(--placeholder-grey);
}

.btt-link:hover {
    border-radius: 50%;
    background-color: #33c297;
}

.bag-item-link {
    color: var(--grey)
}

.bag-item-link:hover {
    color: var(--light-grey)
}

.border-main {
    border: 1px solid var(--grey);
}

.order-summary {
    background-color: var(--light-green);
    border-radius: 5px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: var(--light-grey); /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: var(--grey);
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: var(--placeholder-grey);
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
    }

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}