/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600&display=swap');

/* Root variable for colours */
:root {
    --grey: #474D53;
    --light-grey: #72777C;
    --white: #FFFFFF;
    --light-green: #DDF8FC;
    --placeholder-grey: #AAB7C4;
    --light-turquoise: #33BCD1;
    --turquoise: #17A2B8;
    --light-pink: #FD8A9D;
    --pink: #F56B8E;
    --dark-pink: #E4446C;
}

html {
    height: 100%;
}

body {
    /* background: url('https://res.cloudinary.com/dio3rjgik/image/upload/v1685989507/homepage-background_vhfus9.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 96px);
    color: var(--grey);
    font-family: 'Signika', sans-serif;
}

.header-container {
    padding-top: 96px;
}

.navbar-toggler {
    border: none;
    padding: .6rem .6rem;
    font-size: 1.2rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.luve-logo {
    width: 6.5rem;
}

.luve-logo-mobile {
    width: 4.2rem;
    margin-top: -0.2rem;
}

.icon-title-mobile {
    display: none;
}

#nav-link-bag:hover,
#nav-link-wishlist:hover,
#nav-link-bag-mobile:hover,
#nav-link-wishlist-mobile:hover {
    color: var(--pink) !important;
}

.nav-link:hover,
.dropdown-item:hover {
    color: var(--turquoise) !important;
    background-color: transparent;
}

.dropdown-mobile {
    padding-top: 0rem;
}

.mobile-menu {
    font-size: 90%;
}

#delivery-banner {
    border-bottom: 5px solid var(--turquoise);
}

#delivery-banner h5 {
    font-size: 1rem;
}

.page-title {
    font-size: 1.5rem;
}

.page-title-small {
    font-size: 1.3rem;
}

.checkout-title {
    font-size: 1.3rem;
}

#keep-shopping {
    height: 0.5rem;
    width: 0.5rem;
}

.btn-main {
    background: var(--grey);
    color: var(--white);
    border: 1px solid var(--grey);
}

.btn-outline-main {
    background: var(--white);
    color: var(--grey) !important;
    border: 1px solid var(--grey);
}

.btn-outline-main:hover,
.btn-outline-main:active,
.btn-outline-main:focus {
    color: var(--turquoise) !important;
    border: 1px solid var(--turquoise);
}

.btn-outline-torquoise {
    background: var(--white);
    color: var(--turquoise) !important;
    border: 1px solid var(--turquoise);
}

.btn-outline-torquoise:hover,
.btn-outline-torquoise:active,
.btn-outline-torquoise:focus {
    background: var(--turquoise);
    color: var(--white) !important;
    border: 1px solid var(--turquoise);
}

.btn-pink {
    background: var(--white);
    color: var(--dark-pink) !important;
    border: 1px solid var(--pink);
}

.btn-pink:hover {
    background: var(--pink);
    color: var(--white) !important;
}

/* Landing page */
.hero-image {
    padding-top: 155px;
    background-image: url("https://res.cloudinary.com/dio3rjgik/image/upload/v1685989507/homepage-background_vhfus9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 22%;
    padding-left: 0.4rem;
}

.protect {
    font-size: 95%;
}

.display-4.logo-font.text-main {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.what-is {
    font-size: 1.2rem;
}

.introduction h6 {
    font-size: 1.1rem;
}

.shop-now-button {
    background: var(--grey);
    color: var(--white);
    font-size: 1rem;
    min-width: 110px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-main:hover {
    background: var(--turquoise);
    color: var(--white);
    border: 1px solid var(--turquoise);
}

.introduction {
    font-size: 95%;
}

.impact {
    font-size: 1rem !important;
}

/* Cards */
.card {
    box-shadow: 0px 0px 10px 1px #d1d1d1 !important;
}

.card:hover {
    box-shadow: 0px 0px 10px 1px #868686 !important;
}

.text-main {
    color: var(--grey) !important;
}

.bg-main {
    background: var(--grey) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--white);
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: var(--turquoise);
    color: var(--white) !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none !important;
    color: var(--white);
}

input[name='q']::placeholder {
    color: var(--placeholder-grey);
}

.btt-link:hover {
    border-radius: 50%;
    background-color: var(--light-turquoise);
    color: var(--white);
}

.bag-item-link {
    color: var(--grey)
}

.bag-item-link:hover {
    color: var(--turquoise)
}

.link:hover {
    color: var(--turquoise) !important;
}

.border-main {
    border: 1px solid var(--light-grey);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.order-summary {
    background-color: var(--light-green);
    border-radius: 5px;
}

/* Products */
.product-description,
.posting-as,
.review-content,
.review-form label {
    font-size: 95%
}

.qty-box {
    width: 150px;
}

.product-name,
.product-name-bag {
    font-size: 1.15rem;
    font-weight: 500;
}

.product-name:hover {
    color: var(--turquoise);
}

.product-details,
.product-review {
    font-size: 1.15rem;
}

.btn-shop-bag {
    font-size: 93%;
}

#dropdownMenuButton {
    background-color: var(--white);
}

[data-title]:hover:after {
    visibility: visible;
    opacity: 0.8;
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.9rem;
    position: absolute;
    padding: 0.15rem;
    margin-top: 1.9rem;
    margin-left: -1.5rem;
    text-align: center;
    width: 3rem;
    height: 1.7rem;
    opacity: 0;
    visibility: hidden;
}

.dropdown-menu-right {
    min-width: inherit;
}

.dropdown-item-review {
    font-size: 0.95rem;
}

.fa-comment-dots {
    transform: scaleX(-1);
    font-size: 120%;
    margin-right: 0.5rem;
}

.star i {
    font-size: 80%;
}

.review-form label {
    margin: 0;
}

/* Wishlist */
.item-count-container {
    position: relative;
    margin-bottom: -0.2rem;
}

.item-count {
    font-size: 0.8rem;
    position: absolute;
    top: 5px !important;
    right: 5px !important;
}

.wishlist-parent-container {
    position: relative;
}

.wishlist-btn-container {
    position: absolute;
    top: 5px;
    text-align: right !important;
}

.wishlist-btn-small {
    font-size: 1.2rem;
}

.wishlist-btn {
    font-size: 1.7rem;
}

.wishlist-btn-large {
    font-size: 2rem;
}

.wishlist-heart {
    font-size: 1.2rem;
}

.heart-pink {
    color: var(--pink);
}

.wishlist-btn i.fa-solid:hover,
.wishlist-btn-large i.fa-solid:hover,
.like-btn i.fa-solid:hover {
    font-weight: 400;
}

.wishlist-btn i.fa-regular:hover,
.wishlist-btn-large i.fa-regular:hover,
.like-btn i.fa-regular:hover {
    font-weight: 800;
    transform: scale(1.2);
}

/* Articles */
.like-btn {
    background-color: transparent;
    font-size: 1.2rem;
}

.like-btn-main-page {
    font-size: 1.1rem;
}

.article-title {
    font-size: 1.15rem;
    font-weight: 500;
}

.article-title:hover {
    color: var(--turquoise);
}

.article-description,
.article-author,
.article-content {
    font-size: 95%
}

/* Image sizing */
.product-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.article-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/* Error message for forms */
label.error {
    color: #B02A37;
    font-size: 14px !important;
    font-weight: bold;
}

/* Product & Article forms */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 5px;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 5px;
}

/* Bootstrap toasts  */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: var(--light-grey);
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: var(--light-grey);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: var(--placeholder-grey);
}

.allauth-form-inner-content a {
    color: #17a2b8;
}

/* Footer */
footer i {
    font-size: 130%;
    padding: 0.5rem 0.6rem;
    color: var(--white)
}

.footer-info {
    color: var(--white) !important;
}

footer i:hover,
.footer-info:hover {
    color: var(--turquoise) !important;
}

.footer-title {
    font-size: 110%;
}

.footer-text {
    font-size: 90%;
}

.subscribe-container {
    padding-left: 0;
}

.contact-information {
    margin-bottom: 1rem;
    padding-left: 0;
}

.disclaimer {
    font-size: 80%;
    margin-bottom: 1.5rem;
}

/* Mailchimp */
#mc_embed_signup form {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.mc-field-group label {
    height: 1.8rem;
    font-size: 0.9rem;
}

#mce-success-response, 
#mce-error-response {
    margin: 0 !important;
    padding: 0 0 0.7rem 0 !important;
}

#mce-responses.clear.foot {
    margin: 0 !important;
    padding: 0 !important;
}

#mc-embedded-subscribe.button {
    height: 42px;
    font-size: 90%;
    color: var(--grey);
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin-bottom: 0;
}

#mc-embedded-subscribe.button:hover {
    background-color: var(--turquoise);
}

/* Error pages */
.error-image {
    margin-top: 1.5rem;
    width: 250px;
    margin-bottom: 0.5rem;
}

.error-message h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

/* -------------------------------- Media Queries */
@media (min-width: 335px) {
    .btn-shop-bag {
        font-size: 100%;
    }
}

@media (min-width: 375px) {
    .header-container {
        padding-top: 96px;
    }

    body {
        height: calc(100vh - 96px);
    }

    .luve-logo-mobile {
        width: 6.5rem;
        margin-top: -0.2rem;
    }

    .icon-title-mobile {
        display: block;
        font-size: 80%;
    }

    #delivery-banner h5 {
        font-size: 1.1rem;
    }

    .hero-image {
        padding-top: 200px;
    }

    .protect {
        font-size: 1rem;
    }

    .display-4.logo-font.text-main {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .shop-now-button {
        width: 130px;
    }

    .what-is {
        font-size: 1.3rem;
    }

    .introduction {
        font-size: 100%;
    }

    .impact {
        font-size: 1.1rem !important;
    }

    .page-title {
        font-size: 1.65rem;
    }

    .page-title-small {
        font-size: 1.4rem;
    }

    .checkout-title {
        font-size: 1.4rem;
    }

    .article-title,
    .product-name {
        font-size: 115%;
    }

    .article-title-detail-page,
    .product-name-detail-page {
        font-size: 135%
    }

    .product-details,
    .product-review {
        font-size: 120%;
    }

    .article-description,
    .article-author,
    .article-content,
    .product-description,
    .posting-as,
    .review-content,
    .review-form label {
        font-size: 100%
    }

    .qty-box {
        width: 180px;
    }

    .footer-container {
        margin-top: -0.2rem;
        margin-bottom: 1rem;
    }

    footer i {
        font-size: 150%;
        padding: 0.5rem 0.8rem;
    }

    .footer-title {
        font-size: 120%;
    }

    #mc-embedded-subscribe.button,
    .footer-text {
        font-size: 95%;
    }

    .mobile-menu {
        font-size: 100%;
    }

    .disclaimer {
        margin-bottom: 0.5rem;
        font-size: 90%;
    }

    .error-image {
        width: 270px;
    }

    .error-message h2 {
        margin-bottom: 1rem;
    }
}

@media (min-width: 450px) {
    .hero-image {
        padding-top: 260px;
    }

    .hero-text {
        top: 30%;
        padding-left: 1rem;
    }

    .display-4.logo-font.text-main {
        margin-bottom: 1.2rem;
    }

    .shop-now-button {
        width: 150px;
    }
}

@media (min-width: 576px) {
    .header-container {
        padding-top: 105px;
    }

    body {
        height: calc(100vh - 105px);
    }

    .luve-logo-mobile {
        width: 7.7rem;
    }

    .icon-title-mobile {
        font-size: 100%;
    }

    #delivery-banner h5 {
        font-size: 1.2rem;
    }

    .hero-image {
        padding-top: 280px;
    }

    .protect {
        font-size: 1.3rem;
    }

    .display-4.logo-font.text-main {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .shop-now-button {
        font-size: 1.1rem;
    }

    .page-title {
        font-size: 1.85rem;
    }

    .checkout-title {
        font-size: 1.5rem;
    }

    .like-btn {
        font-size: 1.4rem;
        margin-top: 0 !important;
    }

    .article-title-detail-page,
    .product-name-detail-page {
        font-size: 150%;
        margin-bottom: 1rem;
    }

    .product-details,
    .product-review {
        font-size: 130%;
    }

    .icon-title {
        font-size: 90%;
    }

    .product-name-bag {
        font-size: 1.05rem;
    }

    footer i {
        font-size: 170%;
    }

    .subscribe-container {
        padding-left: 1rem;
    }
    
    .contact-information {
        padding-left: 1rem;
    }

    .error-message h2 {
        font-size: 1.3rem;
    }

    .error-message {
        margin-bottom: 1.5rem;
    }

    .error-message h2 {
        margin-bottom: 1.5rem;
    }

    .error-image {
        width: 400px;
    }
}

@media (min-width: 768px) {
    #product-info {
        margin-bottom: 2rem;
    }

    .header-container {
        padding-top: 131px;
    }

    body {
        height: calc(100vh - 131px);
    }

    .hero-image {
        padding-top: 400px;
    }

    .hero-text {
        top: 30%;
        left: 4%;
    }

    .protect {
        font-size: 1.5rem;
    }

    .display-4.logo-font.text-main {
        font-size: 2.2rem;
        margin-bottom: 2.5rem;
    }

    .shop-now-button {
        min-width: 200px;
    }

    .page-title {
        font-size: 2rem;
    }

    .checkout-title {
        font-size: 1.6rem;
    }

    .article-title-detail-page,
    .product-name-detail-page {
        font-size: 170%;
        margin-bottom: 1.2rem;
    }

    .product-details,
    .product-review {
        font-size: 150%;
    }

    .product-name-detail-page {
        margin-top: 10%;
    }

    footer i {
        padding: 0.5rem 0.5rem;
    }

    #mc-embedded-subscribe.button {
        margin-top: 32px;
    }

    .error-image {
        width: 500px;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .luve-logo {
        width: 7.7rem;
        margin-top: -0.4rem;
    }

    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 150px);
    }

    #delivery-banner h5 {
        font-size: 1.25rem;
    }

    .nav-link {
        font-size: 105%;
    }

    .wishlist-heart {
        font-size: 120% !important;
        margin-top: -0.5rem;
    }

    .hero-image {
        padding-top: 500px;
    }

    .protect {
        font-size: 1.7rem;
    }

    .display-4.logo-font.text-main {
        font-size: 2.5rem;
    }

    .article-title-detail-page,
    .product-details,
    .product-review {
        margin-top: 15%;
    }

    .article-content {
        margin-top: 0.5rem;
    }

    .error-image {
        width: 600px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 1200px) {
    .header-container {
        padding-top: 157px;
    }

    body {
        height: calc(100vh - 157px);
    }

    .container {
        max-width: 80%;
    }

    .luve-logo {
        width: 8rem;
    }

    .nav-link {
        font-size: 115%;
    }

    .hero-image {
        padding-top: 480px;
    }

    .hero-text {
        left: 5%;
    }

    .shop-now-button {
        font-size: 1.5rem;
    }

    .subscribe-container {
        padding-left: 0;
    }
    
    .contact-information {
        padding-left: 0;
    }
}

@media (min-width: 1400px) {
    .hero-image {
        padding-top: 600px;
    }

    .hero-text {
        top: 25%;
    }

    .protect {
        font-size: 2rem;
    }

    .display-4.logo-font.text-main {
        font-size: 2.8rem;
        margin-bottom: 7rem;
    }
}

@media (max-width: 991px) {
    .nav-link {
        padding: 0.2rem;
    }

    .nav-link i.fa-lg {
        font-size: 1.2rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}