<li class="list-inline-item d-block d-md-none">
    <a class="text-main nav-link d-block d-md-none" href="#" id="mobile-search" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0 icon-title icon-title-mobile">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border" type="text" name="q" placeholder="Search...">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-main border-main" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item text-center d-block d-md-none ml-sm-3">
    <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1694256439/logo_hkssmf.jpg" alt="LUVE logo"
            class="luve-logo-mobile">
    </a>
</li>
<li class="list-inline-item">
    <a class="text-main nav-link d-block d-md-none" href="{% url 'wishlist' %}" id="nav-link-wishlist-mobile">
        <div class="text-center">
            <div class="item-count-container">
                <span class="icon wishlist-heart">
                    <i class="fa-solid fa-heart fa-lg"></i>
                </span>
                {% if wishlist_count > 0 %}
                <span class="item-count icon-title-mobile">{{wishlist_count}}</span>
                {% endif %}
            </div>
            <p class="my-0 icon-title icon-title-mobile">
                Wishlist
            </p>
        </div>
    </a>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-main{% endif %} nav-link d-block d-md-none"
        id="nav-link-bag-mobile" href="{% url 'view_bag' %}">
        <div class="text-center">
            <span class="icon">
                <i class="fas fa-shopping-bag fa-lg"></i>
            </span>
            <p class="my-0 icon-title icon-title-mobile">
                {% if grand_total %}
                €{{ grand_total|floatformat:2 }}
                {% else %}
                €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>