{% extends "base.html" %}
{% load static %}

{% block extra_title %} | {{ article.title }}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <!-- Product image -->
            {% if "Placeholder" in article.image.url %}
            <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1686206490/placeholder.png"
                class="card-img-top img-fluid article-img" alt="Placeholder image">
            {% else %}
            <img src=" {{ article.image.url }}" class="card-img-top img-fluid article-img"
                alt="Image of {{ article.title }}">
            {% endif %}
        </div>
        <!-- Product information -->
        <div class="col-12 col-lg-6 col-xl-5">
            <div class="row">
                <div class="col-12 mt-4">
                    <h5 class="article-title-detail-page font-weight-bold">{{ article.title | capfirst }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <p class="mt-1 mb-0 article-author">By {{ article.author }}</p>
                </div>
                <div class="col-2 pl-0 text-right">
                    <form class="d-inline" action="{% url 'article_like' article.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="articlepost_id" value="{{article.slug}}"
                            class="like-btn text-main mt-1 p-0 m-0 border-0"
                            aria-label="Like button indicating it is already liked">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </button>
                        {% else %}
                        <button type="submit" name="articlepost_id" value="{{article.slug}}"
                            class="like-btn text-main mt-1 p-0 m-0 border-0" aria-label="Like button">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </button>
                        {% endif %}
                    </form>
                    <span class="text-secondary fw-bold mt-1 ml-0 p-0"> {{ article.number_of_likes }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Edit and delete buttons for staff -->
                    {% if request.user.is_staff %}
                    <p class="m-0">
                        <a href="{% url 'edit_article' article.slug %}"><i class="fa-regular fa-pen-to-square px-1"></i>
                            Edit</a>
                        <a class="text-danger" data-toggle="modal" data-target="#ArticleModal"><i
                                class="fa-regular fa-trash-can px-1"></i> Delete</a>
                    </p>
                    <!-- Modal confirm deletion of an article -->
                    <div class="modal fade" id="ArticleModal" tabindex="-1" role="dialog"
                        aria-labelledby="ArticleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ArticleModalLabel">Delete Article</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete {{ article.title | capfirst }}?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form method="POST" action="{% url 'delete_article' article.slug %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-xl-10 offset-xl-1 article-content text-justify">
            {{ article.content | safe }}
        </div>
    </div>
</div>

{% endblock %}