{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Articles{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mb-1">
        <div class="col-12">
            <hr>
            <h2 class="logo-font mb-3 text-center text-md-left page-title">Articles</h2>
            <hr>
            <!-- If there are articles to display -->
            <div class="row">
                <div class="product-container col-12">
                    {% if articles %}
                    <div class="row">
                        {% for article in articles %}
                        <div class="col-lg-6 col-xl-4 mb-5">
                            <div class="card h-100 border-0">
                                <!-- Article image -->
                                {% if "Placeholder" in article.image.url %}
                                <a href="{% url 'article_detail' article.slug %}"
                                    {% if not request.user.is_staff %}class="stretched-link" {% endif %}>
                                    <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1686206490/placeholder.png"
                                        class="card-img-top img-fluid article-img" alt="Placeholder image">
                                </a>
                                {% else %}
                                <a href="{% url 'article_detail' article.slug %}"
                                    {% if not request.user.is_staff %}class="stretched-link" {% endif %}>
                                    <img src=" {{ article.image.url }}" class="card-img-top img-fluid article-img"
                                        alt="Image of {{ article.title }}">
                                </a>
                                {% endif %}
                                <!-- Article information -->
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="d-inline col-10">
                                            <a href="{% url 'article_detail' article.slug %}"
                                                class="text-decoration-none text-main">
                                                <h5 class="mb-0 article-title">{{ article.title | capfirst }}</h5>
                                            </a>
                                        </div>
                                        <div class="d-inline col-2 d-flex pl-0 justify-content-end">
                                            <p class="text-secondary m-0 p-0 like-btn-main-page">
                                                <i class="fa-regular fa-thumbs-up"></i> {{ article.number_of_likes }}
                                            </p>
                                        </div>
                                    </div>
                                    <p class="text-left my-2 article-description">
                                        {{ article.description | capfirst | truncatechars:115 }}</p>
                                </div>
                                <div class="card-footer bg-transparent border-0 pt-1">
                                    <!-- Edit and delete buttons for staff -->
                                    {% if request.user.is_staff %}
                                    <p class="m-0">
                                        <a href="{% url 'edit_article' article.slug %}"><i
                                                class="fa-regular fa-pen-to-square pr-1"></i>
                                            Edit</a>
                                        <a class="text-danger" data-toggle="modal"
                                            data-target="#ArticleModal-{{article.slug}}"><i
                                                class="fa-regular fa-trash-can px-1"></i> Delete</a>
                                    </p>
                                    <!-- Modal confirm deletion of an article -->
                                    <div class="modal fade" id="ArticleModal-{{article.slug}}" tabindex="-1"
                                        role="dialog" aria-labelledby="ArticleModalLabel-{{article.slug}}"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ArticleModalLabel-{{article.slug}}">
                                                        Delete Article</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete {{ article.title | capfirst }}?
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel</button>
                                                    <form method="POST"
                                                        action="{% url 'delete_article' article.slug %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- If there are no articles -->
                        {% else %}
                        <div class="row">
                            <div class="col-12 text-center text-md-left">
                                <p class="lead mt-3 mb-4 mb-md-5 ">There are no articles yet. Please come back to check!
                                </p>
                                <a href="{% url 'products' %}" class="btn btn-main mb-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Continue Shopping</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}