{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Stylesheets -->
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Scripts -->
    {% block corejs %}
    <!-- Fontawsome -->
    <script src="https://kit.fontawesome.com/dc0882e7d5.js" crossorigin="anonymous"></script>
    <!-- JQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <!-- JQuery Validation CDN  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">

    <title>LUVE{% block extra_title %} | Safe Sunblock{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-md-2 d-none d-md-flex">
            <div class="col-12 col-md-3 my-auto py-1 py-md-0 text-center text-md-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1694256439/logo_hkssmf.jpg"
                        alt="LUVE logo" class="luve-logo">
                </a>
            </div>
            <div class="col-12 col-md-5 my-auto py-1 py-md-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border" type="text" name="q" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="form-control btn btn-main border-main" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-4 my-auto py-1 py-md-0">
                <ul class="list-inline list-unstyled text-center text-md-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-main nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0 icon-title">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user-options">
                            <!-- If the user is logged in -->
                            {% if request.user.is_authenticated %}
                            <!-- If the user is staff -->
                            {% if request.user.is_staff %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            <a href="{% url 'add_article' %}" class="dropdown-item">Article Management</a>
                            {% endif %}
                            <!-- End of staff menue -->
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            <!-- If the user is not logged in -->
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-main nav-link" id="nav-link-wishlist" href="{% url 'wishlist' %}">
                            <div class="text-center">
                                <div class="item-count-container">
                                    <i class="fa-solid fa-heart wishlist-heart"></i>
                                    {% if wishlist_count > 0 %}
                                    <span class="item-count">{{wishlist_count}}</span>
                                    {% endif %}
                                </div>
                                <p class="my-0 icon-title">
                                    Wishlist
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-main{% endif %} nav-link"
                            id="nav-link-bag" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0 icon-title">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-md navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-main text-white">
                <h5 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h5>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="mt-auto container-fluid footer-parent-container">
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- Footer -->
        <footer class="container footer-container">
            <div class="d-flex justify-content-center">
                <a href="https://facebook.com" target="_blank" rel="noopener nofollow"
                    aria-label="Visit our Facebook page (opens in a new tab)"><i
                        class="fa-brands fa-square-facebook"></i></a>
                <a href="https://twitter.com" target="_blank" rel="noopener nofollow"
                    aria-label="Visit our Twitter page (opens in a new tab)"><i
                        class="fa-brands fa-square-x-twitter"></i></a>
                <a href="https://instagram.com" target="_blank" rel="noopener nofollow"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/ShizukaDonaghue" target="_blank" rel="noopener nofollow"
                    aria-label="Visit my GitHub page (opens in a new tab)"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/shizukadonaghue/" target="_blank" rel="noopener nofollow"
                    aria-label="Visit my Linkedin page (opens in a new tab)"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="text-center mt-1">
                <p>For educational purposes only. Any orders placed will not be processed.</p>
            </div>
        </footer>
    </div>


    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    <!-- Link to scrip.js -->
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

</body>

</html>