{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LUVE - Safe sunblocks for your skin and the environment!">
    <meta name="keywords"
        content="safe sunscreen, safe sunblock, reef safe sunscreen, reef safe sunblock, pregnancy safe sunscreen, pregnancy safe sunblock">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Stylesheets -->
    {% block corecss %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Mailchimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Scripts -->
    {% block corejs %}
    <!-- Fontawsome -->
    <script src="https://kit.fontawesome.com/dc0882e7d5.js" crossorigin="anonymous"></script>
    <!-- JQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <!-- JQuery Validation CDN  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">

    <title>LUVE{% block extra_title %} | Safe Sunblock{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white d-none d-md-flex">
            <div class="col-12 col-md-3 my-auto text-center text-md-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link pb-0">
                    <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1694512316/logo_aozg0q.jpg"
                        alt="LUVE logo" class="luve-logo">
                </a>
            </div>
            <div class="col-12 col-md-5 my-auto">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border-main" type="text" name="q" placeholder="Search..."
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-main border-main" type="submit"
                                aria-label="Search Button">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-4 my-auto">
                <ul class="list-inline list-unstyled text-center text-md-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-main nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0 icon-title">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user-options">
                            <!-- If the user is logged in -->
                            {% if request.user.is_authenticated %}
                            <!-- If the user is staff -->
                            {% if request.user.is_staff %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            <a href="{% url 'add_article' %}" class="dropdown-item">Article Management</a>
                            {% endif %}
                            <!-- End of staff menue -->
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            <!-- If the user is not logged in -->
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-main nav-link" id="nav-link-wishlist" href="{% url 'wishlist' %}">
                            <div class="text-center">
                                <div class="item-count-container">
                                    <i class="fa-solid fa-heart wishlist-heart"></i>
                                    {% if wishlist_count > 0 %}
                                    <span class="item-count">{{wishlist_count}}</span>
                                    {% endif %}
                                </div>
                                <p class="my-0 icon-title">
                                    Wishlist
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-main{% endif %} nav-link"
                            id="nav-link-bag" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0 icon-title">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-md navbar-light w-100 pt-lg-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-main text-white">
                <h5 class="logo-font my-1">
                    {% if total >= free_delivery_threshold %}
                    Hooray! Free delivery on your order!
                    {% elif free_delivery_delta ==  free_delivery_threshold %}
                    Free delivery on orders over €{{ free_delivery_threshold }}!
                    {% elif free_delivery_delta > 0 %}
                    Spend €{{ free_delivery_delta }} more for free shipping!
                    {% endif %}
                </h5>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="container-fluid bg-main pt-4 mt-auto">
        <!-- Footer -->
        <footer class="footer-container container text-white">
            <section class="footer">
                <div class="row">
                    <div class="col-12 col-md-7 col-xl-8 subscribe-container">
                        <!-- Mailchipm signup form -->
                        <div id="mc_embed_shell">
                            <div id="mc_embed_signup" class="bg-transparent">
                                <form
                                    action="https://github.us11.list-manage.com/subscribe/post?u=c75e3811c020113c35451bffe&amp;id=330c1a3d34&amp;f_id=0028a2e0f0"
                                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                    class="validate" target="_blank">
                                    <div id="mc_embed_signup_scroll">
                                        <div class="row">
                                            <div class="col-12 pl-0">
                                                <h5 class="subscribe footer-title">Subscribe</h5>
                                                <p class="m-0 p-0 footer-text">Signed up to our newsletter!</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-9 col-lg-7 col-xl-6 pl-0 pr-0">
                                                <div class="mc-field-group pb-2"><label for="mce-EMAIL">Email Address
                                                        <span class="asterisk">*</span></label><input type="email"
                                                        name="EMAIL" class="required email" id="mce-EMAIL" required=""
                                                        value="">
                                                </div>
                                                <div id="mce-responses" class="clear foot">
                                                    <div class="response" id="mce-error-response"
                                                        style="display: none;"></div>
                                                    <div class="response" id="mce-success-response"
                                                        style="display: none;"></div>
                                                </div>
                                                <!-- Real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                                    <input type="text" name="b_c75e3811c020113c35451bffe_330c1a3d34"
                                                        tabindex="-1" value="">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 pl-0">
                                                <div class="optionalParent">
                                                    <div class="clear foot">
                                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                            class="button bg-white text-main" value="Subscribe">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-xl-2 contact-information">
                        <h5 class="footer-title">Information</h5>
                        <p class="mb-1 footer-text"><a class="text-decoration-none footer-info"
                                href="{% url 'contact' %}">Contact Us</a></p>
                        <p class="mb-1 footer-text"><a class="text-decoration-none footer-info"
                                href="{% url 'privacy_policy' %}">Privacy Policy</a></p>
                        <p class="mb-1 footer-text"><a class="text-decoration-none footer-info"
                                href="{% url 'terms_conditions' %}">Terms & Conditions</a></p>
                    </div>
                    <div class="col-12 col-md-2 col-xl-2 contact-information">
                        <h5 class="footer-title">Contact</h5>
                        <p class="mb-1 footer-text">Patrick Street</p>
                        <p class="mb-1 footer-text">Cork, T12 DX12</p>
                        <p class="mb-1 footer-text">Ireland</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- Social media links -->
                        <ul class="list-unstyled list-inline mb-1">
                            <li class="list-inline-item">
                                <a href="https://facebook.com" target="_blank" rel="noopener"
                                    aria-label="Visit our Facebook page (opens in a new tab)"><i
                                        class="fa-brands fa-square-facebook pt-0"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com" target="_blank" rel="noopener"
                                    aria-label="Visit our Twitter page (opens in a new tab)"><i
                                        class="fa-brands fa-square-x-twitter pt-0"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://instagram.com" target="_blank" rel="noopener"
                                    aria-label="Visit our Instagram page (opens in a new tab)"><i
                                        class="fa-brands fa-instagram pt-0"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/ShizukaDonaghue" target="_blank" rel="noopener"
                                    aria-label="Visit my GitHub page (opens in a new tab)"><i
                                        class="fa-brands fa-github pt-0"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="disclaimer">For educational purposes only. Any orders placed will not be
                            processed.
                        </p>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>

    <!-- Link to scrip.js -->
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    <!-- Mailchimp scripts -->
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>

</body>

</html>