<div aria-live="polite" aria-atomic="true" class="toast custom-toast border-top-0" data-autohide="false">
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-main">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-main" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total %}
        <p class="font-weight-bold bg-white text-main py-1">Shopping Bag ({{ product_count }} items)</p>
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if "placeholder" in item.product.image.url %}
                    <a href="{% url 'product_detail' item.product.id %}">
                        <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1686206490/placeholder-image_mrk4gi.png"
                            class="card-img-top img-fluid" alt="Image of {{ item.product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' item.product.id %}">
                        <img src=" {{ item.product.image.url }}" class="card-img-top img-fluid"
                            alt="Image of {{ item.product.name }}">
                    </a>
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr class="p-0 m-0">
        <div class="row">
            <div class="col">
                <p class="text-main mt-2 ml-1 mb-1"><strong>Order Total:</strong></p>
                <p class="text-main m-1">Shipping:</p>
                <h6 class="text-main ml-1 mt-2 mb-2"><strong>Grand Total:</strong></h6>
            </div>
            <div class="col text-right">
                <p class="text-main mt-2 mb-1 mr-1"><strong>€{{ total|floatformat:2 }}</strong></p>
                <p class="text-main m-1">{% if delivery == 0 %}Free{% else %}€{{ delivery|floatformat:2 }}{% endif %}</p>
                <h6 class="text-main mt-2 mb-2 mr-1"><strong>€{{ grand_total|floatformat:2 }}</strong></h6>
            </div>
        </div>
        <div class="row">
            <div class="col">    
                {% if free_delivery_delta > 0 %}
                <p class="mt-0 mb-2 text-info text-center">
                    Spend <strong>€{{ free_delivery_delta }}</strong> more to get free delivery!
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'view_bag' %}" class="btn btn-main btn-block">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>